<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What did you do today?</h1>
	<%= render 'shared/micropost_form' %>
	<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

  <h1>RedPuma Home</h1>
  <p>
  Welcome to the home page for the Redpuma Project!
  <br><br>
  Please feel free to click around to learn more.
  </p>
  <%= link_to "Request an Invite!", "mailto:me@adamarcher.com?subject=I would like to improve my finances
&body=Please sign me up so I can play RedPuma and improve my finances.", :class => "signup_button round" %>

<% end %>
